.navBarMain {
    background: lightblue;
    border-bottom: 1px solid black;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 80px;
}

.headerSection {
    align-self: center;
}